@tailwind base;
@tailwind components;

html,
body {
  font-family: "Lato", sans-serif;
}

.btn-primary a {
  @apply hover:shadow-lg;
}

@layer components {
  /*Menu principal*/
  .bg-logo {
    width: 0;
    height: 25px;
    margin-left: calc(100% - 80px);
    animation: slideRightLogo 4s infinite ease-in-out;
  }

  @keyframes slideRightLogo {
    100% {
      width: 80px;
    }
    0% {
      width: 0px;
    }
    20% {
      width: 0px;
    }
  }

  #primary-menu {
    @apply flex flex-col md:flex-row gap-4 md:gap-0 md:justify-end;
  }

  #primary-menu li a {
    @apply text-lg py-2 px-5 block w-full text-center;
  }

  #primary-menu li:nth-child(2) a {
    @apply text-white bg-black rounded hover:bg-yellow-500 hover:text-black hover:shadow-md;
  }

  /*Menu principal footer*/
  #primary-menu-footer {
    @apply flex items-center flex-col sm:flex-row gap-4 sm:gap-0 sm:justify-end;
  }

  #primary-menu-footer li a {
    @apply text-lg py-2 px-5 text-center;
  }

  #primary-menu-footer li:nth-child(2) a {
    @apply text-white bg-black rounded hover:bg-yellow-500 hover:text-black hover:shadow-xl;
  }

  /*Menu footer*/

  #footer-menu {
    @apply flex items-center justify-center md:justify-end gap-5;
  }

  #footer-menu li a {
    @apply text-sm md:text-lg text-gray-500/75;
  }

  /*Home*/

  /*Banner 1*/

  #lineas-cervantes-1 {
    width: 0;
    height: auto;
    animation: slideRight1 3s forwards ease-in-out;
  }

  @keyframes slideRight1 {
    100% {
      width: 100%;
      height: auto;
    }
    0% {
      width: 0px;
      height: auto;
    }
    30% {
      width: 0px;
      height: auto;
    }
  }

  /*Buen contenido*/
  #franja-cervantes-sentado {
    width: 0;
    height: 90px;
    animation: slideRight2 4s infinite ease-in-out;
  }

  #franja-cervantes-sentado img {
    height: 90px;
  }

  @keyframes slideRight2 {
    100% {
      width: 314px;
      height: 90px;
    }
    0% {
      width: 0px;
      height: 90px;
    }
    20% {
      width: 0px;
      height: 90px;
    }
  }

  #img-caballos .elementor-widget-container {
   position: absolute !important;
  }
}
.animation-text-10s {
  background-image: url("../images/bg-text.png");
  background-repeat: no-repeat;
  animation: bgTextAnimated 12s infinite ease-in-out;
}

@keyframes bgTextAnimated {
  0% {
    background-position-x: -1330px;
  }
  10% {
    background-position-x: -1330px;
  }
  40% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 0px;
  }
}

#franja-ciudad {
  width: 0;
  height: 115px;
  animation: slideRight3 4s infinite ease-in-out;
}

#franja-ciudad img {
  height: 115px;
}

@keyframes slideRight3 {
  100% {
    width: 400px;
    height: 115px;
  }
  0% {
    width: 0px;
    height: 115px;
  }
  20% {
    width: 0px;
    height: 115px;
  }
}

@tailwind utilities;
